__pycache__/
logs/
*.wav
*.onnx
*.bin
.env
tests.py
converter.py
vesi_config.yaml

.idea/
.claude/
CLAUDE.md
node_modules/

vesi_train.jsonl
vesi_dataset.json
.ipynb_checkpoints/
llama.cpp/
unsloth_compiled_cache/
vesi_checkpoints/

*.vrm

